<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= problem.name %></title>
  </head>
  <body>
    <h1><%= problem.name %></h1>
    <ul>
      <li>ID: <%= problem.displayID %></li>
      <li>Start Date: <%= problem.startDate %></li>
      <li>Due Date: <%= problem.dueDate %></li>
      <li>Severity: <%= problem.severity %></li>
      <li>Assigned To: <%= problem.assignedTo %></li>
    </ul>
  </body>
</html>
